{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <h1 class="text-center salmon" style="min-height: 140px;">Page en construction</h1>
        <div class="container">
            <h3>N'hésitez pas à laisser votre avis</h3>
        </div>
    </div>
{% endblock %}