

{% block body %}

<div class="container">
   
    <h3 class="text-center salmon" id="titre"><span class="arrow"><a href="#accueil"><i class="fas fa-arrow-up"></i></span></a>Qui suis-je ?</h3>
    <hr>
    <div class="row">
        <div class="col-md-5 text-center">
            <img src="{{ asset('images/the_coach.jpeg') }}" alt="coach" class="rounded-circle images">
        </div>
        <div class="col-md-7">       
            <div class="presentation">
                <p>
                Je m'appelle Cécilia Orsi, je suis coach certifiée en développement personnel et formée à la pratique de la thérapie cognito comportementale. <br>
                Ayant été moi même anxieuse sociale pendant des années, j'ai pris conscience de l'importance qu'un accompagnement adéquat peut changer une vie.
                Suite a de nombreuses expériences professionnelles dont le plus important pour moi comme auxilliaire petite enfance, je décide de tout lâcher pour aller plus loin dans mes envies et mes convictions. <br>
                J'entreprends un travail sur moi en psychothérapie qui m'a permis de me révéler, de comprendre mon fonctionnement d'hypersensible et de m'ouvrir à ce que j'aime le plus : comprendre et aider les autres. <br>
                Aujourd'hui entrepreneur, j'aide des femmes et des hommes dans de multiples problématiques, pour leurs permettre d'être alignés avec leurs besoins et leurs envies,
                ainsi qu'à prendre conscience de leurs potentiels. <br>           
                </p>
            </div>
        </div>
    </div>
   
</div>
{% endblock %}