{% extends "base.html.twig" %}

{% block title %}Les Formules{% endblock %}

{% block body %}
    <div class="container">
        <div class="container-fluid">
            <h4 class="salmon" id="coaching1">Les Formules:</h4>
            <hr class="hr">

                <div class="row">
                    <div class="col-6 rollpaque" id="step">
                        <div class="example">
                            <img class="rounded" id="step" src="{{ asset('images/step-by-step.jpg') }}" width="500px" height="300" alt="step by step">
                            <div class="fadedbox">
                                <div class="title text">Test de texte au survol</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="example">
                            <img class="rounded" src="{{ asset('images/cailloux.jpg') }}" width="500px" height="300" alt="pierres">
                            <div class="fadedbox">
                                <div class="title text">Test de texte au survol</div>
                            </div>                 
                        </div>
                    </div>
                </div>

            <!-- <ul>
                <li>Coaching individuel :
                    <ul>
                        <li class="textPresta">
                            <p> 
                                <span class="tarifs">Coaching 1:1</span>  = 60 euros la séance de 60 minutes à votre domicile ou en visio <br>
                                (Tarif réduit à 35 euros pour les étudiants) <br>
                                <span class="tarifs">Pack de 5 séances</span> = 280 euros
                            </p>
                            <div class="attention">
                                Attention ! Je ne coach ni les couples ni les enfants.
                            </div>
                        </li>
                    </ul>
                </li>
            </ul> -->
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        // window.onload = () => {
        //     let stepText = document.querySelector('#step');
            
        //     stepText.addEventListener("mouseover", function(e){
        //         stepText.innerHTML = "<p>Voyons voir voir si nous pouvons ajouter du texte sur cette image</p>"

        //     })
        //     stepText.addEventListener("mouseout", function(e){
        //         stepText.innerHTML = "<img src='images/step-by-step.jpg' width='500px' alt='step by step'>"
        //     })
        // }
    </script>
{% endblock %}

