{% extends 'base.html.twig' %}

{% block title %}Hello FormuleController!{% endblock %}

{% block body %}
    <div class="container" style="min-height: 140px;">
        <h3 class="salmon">Ajout d'une formule:</h3>
        {% for message in app.flashes('message') %}
            <div class="p-3 my-2 rounded-2 success fx-center txt-center">{{message}}</div>
        {% endfor %}
        
        {{ form(form) }}
    </div>
{% endblock %}
