{% extends "base.html.twig" %}

{% block title %}Page avec accès restreint{% endblock %}

{% block body %}
    <div class="container text-center min-height">
        <h1 class="salmon">Page avec accès restreint</h1>

        <p>La page que vous recherchez est protégée !</p>
    </div>
{% endblock %}